@model SeatView.Models.SeatModel

@{
    ViewBag.Title = "AddSeatView";
}

<div class="venueBreadcrumbs">
    @Html.ActionLink("Back to List", "displayLayoutInfo", "Venue", new { @class = "btn btn-link venueBackLink" })
</div>

<h2 class="addVenueHeader">Add a Seat</h2>

<div>
    <div class="row justify-content-evenly">
        <div class="col-4 insertSeatImg">
            <img src="@Url.Content(Model.venueUrl)" width="250" height="250" alt="layout" />
        </div>
        <div class="col-4">
            @using (Html.BeginForm("processSeatInsert", "Venue", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label class="form-label mt-4">Please select a seat from the venue layout.</label>
                <div class="form-group">
                    <label class="form-label mt-4">Section</label>
                    @Html.EditorFor(model => model.section, new { htmlAttributes = new { @class = "form-control seatFormFields", placeholder = "Section" } })
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Row</label>
                    @Html.EditorFor(model => model.row, new { htmlAttributes = new { @class = "form-control seatFormFields", placeholder = "Row" } })
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Name</label>
                    @Html.EditorFor(model => model.seatNum, new { htmlAttributes = new { @class = "form-control seatFormFields", placeholder = "Seat Number" } })
                </div>

                <div class="form-group">
                    <label class="form-label mt-4">Upload Image</label><br />
                    <input type="file" name="imageFileName" requried="required">
                </div>

                // hidden inputs for the x and y coordinates for access to attribute in the seat model
                @Html.HiddenFor(model => model.x_coord, new { id = "x_coord", Value = "" });
                @Html.HiddenFor(model => model.y_coord, new { id = "y_coord", Value = "" });

                <div class="venueFormSaveBtnWrapper">
                    <button type="submit" class="btn btn-primary venueFormSaveBtn">Save</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    document.getElementById("layout").addEventListener('click', function (e) {
        //once the image is clicked set the hidden attributes to the offset values of the mouse click
        document.getElementById("x_coord").setAttribute("Value", e.offsetX);
        document.getElementById("y_coord").setAttribute("Value", e.offsetY);

        // alert the user that a click has been made and a seat is selected
        alert("Seat Has Been Selected.");
    });
</script>
