@model SeatView.Models.VenueModel

@{
    ViewBag.Title = "Details";
}

<div class="venueBreadcrumbs">
    @Html.ActionLink("Back to List", "displayVenues", "Login", new { }, new { @class = "btn btn-link venueBackLink" }) /
    @Html.ActionLink("Edit Venue", "UpdateVenue", "Login", new { id = Model.id }, new { @class = "btn btn-link venueEditLayoutLink" })
</div>

<h2 class="text-center addVenueHeader">@Html.DisplayFor(model => model.name)</h2>
<p class="text-center">
    @Html.DisplayFor(model => model.address) @Html.DisplayNameFor(model => model.street) @Html.DisplayFor(model => model.city), @Html.DisplayFor(model => model.state) @Html.DisplayFor(model => model.zipCode)
</p>
<hr />
<img src="@Url.Content(Model.layoutURL)" class="venueLayoutImg" width ="250"height="250" alt="layoutImg"/>
