@model SeatView.Models.VenueSeatModel
@{
    ViewBag.Title = "LayoutInfoView";
}

<div class="venueBreadcrumbs">
    <a href="@Url.Action("displayVenues", "Login")" class="backActionLink">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
        </svg>
        <span>
            <strong>Back</strong>
        </span>
    </a>
</div>

<h2 class="text-center addVenueHeader">@Model.venueName</h2>
<hr />
<img src="@Url.Content(Model.venueLayout)" width="250" height="250" class="venueLayoutImg" alt="layoutImg" />

<div class="seatTable">
    @using (Html.BeginForm("ownerSearchSeat", "Venue", FormMethod.Post))
    {
        <div class="input-group mb-3">
            <input type="text" class="form-control searchField" name="searchString" placeholder="Search..." aria-label="searchStringValue" aria-describedby="button-addon2" fdprocessedid="yco7z8">
            <button class="btn btn-success" type="submit">Go</button>
            @Html.ActionLink("Clear", "ownerClearSeatSearch", "Venue", new { @class = "btn btn-warning" })
        </div>


        <table class="table">
            <tr>
                <th>
                    <p>
                        @Html.ActionLink("Create New", "InsertSeat", "Venue", new { area = "" }, new { @class = "btn btn-outline-primary" })
                    </p>
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.seats)
            {
                <tr>
                    <td>
                        Section @Html.DisplayFor(modelItem => item.section), Row @Html.DisplayFor(modelItem => item.row), Seat @Html.DisplayFor(modelItem => item.seatNum)
                    </td>
                    <td class="venueActionLinks">
                        @Html.ActionLink("Edit", "UpdateSeat", "Venue", new { id = item.id }, new { @class = "btn btn-link venueEditLink" }) |
                        @Html.ActionLink("Details", "Index", "Seat", new { id = item.id }, new { @class = "btn btn-link venueDetailsLink" }) |
                        @Html.ActionLink("Delete", "DeleteSeat", "Venue", new { id = item.id }, new { @class = "btn btn-link venueDeleteLink" })
                    </td>
                </tr>
            }
        </table>
    }
</div>