@model SeatView.Models.VenueSeatModel
@{
    ViewBag.Title = "LayoutInfoView";
}

<div class="venueBreadcrumbs">
    @Html.ActionLink("Back to List", "displayVenues", "Login", new { }, new { @class = "btn btn-link venueBackLink" })
</div>

<h2 class="text-center addVenueHeader">@Model.venueName</h2>
<hr/>
<img src="@Url.Content(Model.venueLayout)" width="250" height="250" class="venueLayoutImg" alt="layoutImg" />

<table class="table seatTable">
    <tr>
        <th>
            <p>
                @Html.ActionLink("Create New", "InsertSeat", "Venue", new { area = "" }, new { @class = "btn btn-outline-primary" })
            </p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.seats)
    {
        <tr>
            <td>
                Section @Html.DisplayFor(modelItem => item.section), Row @Html.DisplayFor(modelItem => item.row), Seat @Html.DisplayFor(modelItem => item.seatNum)
            </td>
            <td class="venueActionLinks">
                @Html.ActionLink("Edit", "UpdateSeat", "Venue", new { id = item.id }, new { @class = "btn btn-link venueEditLink" }) |
                @Html.ActionLink("Details", "Index", "Seat", new { id = item.id }, new { @class = "btn btn-link venueDetailsLink" }) |
                @Html.ActionLink("Delete", "DeleteSeat", "Venue", new { id = item.id }, new { @class = "btn btn-link venueDeleteLink" })
            </td>
        </tr>
    }
</table>