@model SeatView.Models.SeatModel

@{
    ViewBag.Title = "SeatFormView";
}

<div class="venueBreadcrumbs">
    <a href="@Url.Action("displayLayoutInfo", "Venue")" class="backActionLink">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
        </svg>
        <span>
            <strong>Back</strong>
        </span>
    </a>
</div>

<h2 class="addVenueHeader">Seat Form</h2>

<div class="formCenterContent">
    @using (Html.BeginForm("processSeatUpdate", "Venue", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label class="form-label mt-4">Section</label>
            @Html.EditorFor(model => model.section, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Row</label>
            @Html.EditorFor(model => model.row, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Seat Number</label>
            @Html.EditorFor(model => model.seatNum, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            <label class="form-label mt-4">Upload Image</label><br />
            <input type="file" name="imageFileName" requried="required">
        </div>

        <input type="hidden" name="id" value=@Model.id />
        <input type="hidden" name="mediaID" value=@Model.mediaID />

        <div class="venueFormSaveBtnWrapper">
            <button type="submit" class="btn btn-success venueFormSaveBtn">Save</button>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
