@model SeatView.Models.VenueModel

@{
    ViewBag.Title = "SeatByLayoutView";
}

<div class="venueBreadcrumbs">
    @Html.ActionLink("Back to List", "displayVenueDetails", "Venue", new { }, new { @class = "btn btn-link venueBackLink" })
</div>

<h2 class="text-center addVenueHeader">@Html.DisplayFor(model => model.name)</h2>
<hr />

<img src="@Url.Content(Model.layoutURL)" class="venueLayoutImg" width="250" height="250" alt="layoutImg" id="layout" />
@using (Html.BeginForm("requestSeatView", "Venue"))
{
    <input type="hidden" value="" id="x_coord" name="x_coord" />
    <input type="hidden" value="" id="y_coord" name="y_coord" />
    <input type="hidden" value=@Model.id name="id" />
    <button type="submit" class="btn btn-primary">Submit</button>
}


@*<div>
    <h4>VenueModel</h4>
    <hr />

    <img src="@Url.Content(Model.layoutURL)" width="250" height="250" alt="layoutImg" id="layout" />

    @using (Html.BeginForm("requestSeatView", "Venue"))
    {
        <input type="hidden" value="" id="x_coord" name="x_coord" />
        <input type="hidden" value="" id="y_coord" name="y_coord" />
        <input type="hidden" value=@Model.id name="id" />
        <button type="submit" class="btn btn-primary">Submit</button>
    }
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.address) @Html.DisplayFor(model => model.street) @Html.DisplayFor(model => model.city), @Html.DisplayFor(model => model.state) @Html.DisplayFor(model => model.zipCode)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "displayVenueDetails", "Venue")
</p>*@


<script>
    document.getElementById("layout").addEventListener('click', function (e) {
        //once the image is clicked set the hidden attributes to the offset values of the mouse click
        document.getElementById("x_coord").setAttribute("value", e.offsetX);
        document.getElementById("y_coord").setAttribute("value", e.offsetY);

        //<div class="alert alert-dismissible alert-success">
        //    <button type="button" class="btn-close" data-bs-dismiss="alert" fdprocessedid="yqjz3j"></button>
        //    <strong>Seat Selected!</strong> Click Submit to Proceed.
        //</div>

        alert("Seat Selected, Click Submit to Proceed.");

    });
</script>
