@model SeatView.Models.OwnerVenueModel
@{
    ViewBag.Title = "UserView";
}

<div class="text-center">
    <img src="~/Images/Logos/mainLogo.png" class="seatViewMainLogo" />
</div>
<hr />

@using (Html.BeginForm("searchVenue", "Venue", FormMethod.Post))
{
    <div class="input-group mb-3">
        <input type="text" class="form-control searchField" name="searchString" placeholder="Search..." aria-label="searchStringValue" aria-describedby="button-addon2" fdprocessedid="yco7z8">
        <button class="btn btn-success" type="submit">Go</button>
        @Html.ActionLink("Clear", "clearVenueSearch", "Venue", new { @class = "btn btn-warning" })
    </div>

    <table class="table">
        <tr>
            <th></th>
            <th></th>
        </tr>
        @*this loops through the venue list in the OwnerVenueModel*@
        @foreach (var item in Model.venues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                    <p class="venueListings">
                        @Html.DisplayFor(modelItem => item.address) @Html.DisplayFor(modelItem => item.street) @Html.DisplayFor(modelItem => item.city), @Html.DisplayFor(modelItem => item.state) @Html.DisplayFor(modelItem => item.zipCode)
                    </p>
                </td>
                <td class="venueActionLinks">
                    @Html.ActionLink("Details", "chosenVenue", "Venue", new { id = item.id }, new { @class = "btn btn-link venueDetailsLink" })
                </td>
            </tr>
        }
    </table>
}
