@model SeatView.Models.VenueSeatModel
@{
    ViewBag.Title = "VenueUserDetailsView";
}

<div class="venueBreadcrumbs">
    @Html.ActionLink("Back to List", "UserIndex", "Venue", new { }, new { @class = "btn btn-link venueBackLink" })
</div>

<h2 class="text-center addVenueHeader">@Model.venueName</h2>
<hr />
<img src="@Url.Content(Model.venueLayout)" width="250" height="250" class="venueLayoutImg" alt="layoutImg" id="layout" />

<div class="seatSearch">
    <p>
        @Html.ActionLink("Select From Layout", "chooseFromLayout", "Venue", new { area = "" }, new { @class = "btn btn-outline-primary" })
    </p>

    @using (Html.BeginForm("searchSeat", "Venue", FormMethod.Post))
    {
        <div class="input-group mb-3">
            <input type="text" class="form-control searchField" name="searchString" placeholder="Search..." aria-label="searchStringValue" aria-describedby="button-addon2" fdprocessedid="yco7z8">
            <button class="btn btn-success" type="submit">Go</button>
            @Html.ActionLink("Clear", "clearSeatSearch", "Venue", new { @class = "btn btn-warning" })
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <table class="table">
            <tr>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model.seats)
            {
                <tr>
                    <td>
                        Section @Html.DisplayFor(modelItem => item.section), Row @Html.DisplayFor(modelItem => item.row), Seat Number @Html.DisplayFor(modelItem => item.seatNum)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "UserSeatIndex", "Seat", new { id = item.id }, new { @class = "btn btn-link venueDetailsLink" })
                    </td>
                </tr>
            }
        </table>
    }
</div>
