@model SeatView.Models.VenueModel

@{
    ViewBag.Title = "VenueFormView";
}

<div class="venueBreadcrumbs">
    <a href="@Url.Action("displayVenues", "Login")" class="backActionLink">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
        </svg>
        <span>
            <strong>Back</strong>
        </span>
    </a>
    @if (Model.id > 0)
    {
        <a href="@Url.Action("editLayout", "Venue", new { id = Model.id, url = Model.layoutURL })" class="editActionLink">
            <span>
                <strong>Edit</strong>
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
            </svg>
        </a>
    }
</div>

<h2 class="addVenueHeader">Venue Form</h2>


<div class="formCenterContent">
    @using (Html.BeginForm("processVenueInsert", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label class="form-label mt-4">Name</label>
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Enter Name" } })
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Address</label>
            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Address" } })
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Street</label>
            @Html.EditorFor(model => model.street, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Street" } })
        </div>
        <div class="form-group">
            <label class="form-label mt-4">City</label>
            @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Enter City" } })
        </div>
        <div class="form-group">
            <label class="form-label mt-4">State</label>
            @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Choose State" } })
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Zip Code</label>
            @Html.EditorFor(model => model.zipCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Zip Code" } })
        </div>

        <div class="form-group">
            <label class="form-label mt-4">Upload Image</label><br/>
            <input type="file" name="imageFileName" requried="required">
        </div>

        <input type="hidden" name="layoutURL" value="@Model.layoutURL" />
        <input type="hidden" name="id" value="@Model.id" />

        <div class="venueFormSaveBtnWrapper">
            <button type="submit" class="btn btn-success venueFormSaveBtn">Save</button>
        </div>
    }
</div>

@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
