<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Seat View</title>
    @Styles.Render("~/Content/bootstrap_1.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/styles.css")

</head>

@{
    var routeUrl = this.Url.RouteUrl(ViewContext.RouteData.Values);
    var totalRoute = routeUrl.Split('/');
    var paramOne = totalRoute[1];
    if(totalRoute.Length > 2)
    {
        paramOne = totalRoute[2];
    }
}

<body id="@paramOne">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Images/Logos/navLogo.png" class="navImg" />
            </a>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    @if (Session["id"] == null)
                    {
                        @Html.ActionLink("Login", "UserLogin", "Home", new { area = "" }, new { @class = "nav-link" })
                    }
                    else
                    {
                        @Html.ActionLink("Logout", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    }
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    <style>       
        #UserLogin, #UserLoginFailure, #NewAccount {
            background-color: #18BC9C;
        }
    </style>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
