@model SeatView.Models.OwnerVenueModel

@{
    ViewBag.Title = "OwnerLoginView";
}
@*this displays the first name of the owner from the owner variable in the OwnerVenueModel*@
<h2 class="text-success ownerGreeting">Welcome @Html.DisplayFor(model => model.ownerName)!</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            <p class="text-center">
                @Html.ActionLink("Add New Venue", "InsertVenue", "Login", new { area = "" }, new { @class = "btn btn-outline-primary" })
            </p>
        </th>
    </tr>
    @*this loops through the venue list in the OwnerVenueModel*@
    @foreach (var item in Model.venues)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
                <p class="ownerVenueListings">
                    @Html.DisplayFor(modelItem => item.address) @Html.DisplayFor(modelItem => item.street) @Html.DisplayFor(modelItem => item.city), @Html.DisplayFor(modelItem => item.state) @Html.DisplayFor(modelItem => item.zipCode)
                </p>
            </td>
            <td>
                <div class="venueActionLinks">
                    @Html.ActionLink("Edit", "UpdateVenue", "Login", new { id = item.id }, new { @class = "btn btn-link venueEditLink" }) |
                    @Html.ActionLink("Details", "Index", "Venue", new { id = item.id }, new { @class = "btn btn-link venueDetailsLink" }) |
                    @Html.ActionLink("Delete", "DeleteVenue", "Login", new { id = item.id }, new { @class = "btn btn-link venueDeleteLink" })
                </div>
                @*<div class="mediaVenueActionLinks">
                    <a href="@Url.Action("UpdateVenue", "Login")" class="links">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg>
                    </a>
                    <a href="@Url.Action("Index", "Venue")" class="links">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                        </svg>
                    </a>
                    <a href="@Url.Action("DeleteVenue", "Login")" class="links">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                        </svg>
                    </a>
                </div>*@
            </td>
        </tr>
    }
</table>