@model SeatView.Models.OwnerVenueModel

@{
    ViewBag.Title = "OwnerLoginView";
}
@*this displays the first name of the owner from the owner variable in the OwnerVenueModel*@
<h2 class="text-success ownerGreeting">Welcome @Html.DisplayFor(model => model.ownerName)!</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            <p class="text-center">
                @Html.ActionLink("Add New Venue", "InsertVenue", "Login", new { area = "" }, new { @class = "btn btn-outline-primary" })
            </p>
        </th>
    </tr>
    @*this loops through the venue list in the OwnerVenueModel*@
    @foreach (var item in Model.venues)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
                <p class="venueListings">
                    @Html.DisplayFor(modelItem => item.address) @Html.DisplayFor(modelItem => item.street) @Html.DisplayFor(modelItem => item.city), @Html.DisplayFor(modelItem => item.state) @Html.DisplayFor(modelItem => item.zipCode)
                </p>
            </td>
            <td class="venueActionLinks">
                @Html.ActionLink("Edit", "UpdateVenue", "Login", new { id = item.id }, new { @class = "btn btn-link venueEditLink" }) |
                @Html.ActionLink("Details", "Index", "Venue", new { id = item.id }, new { @class = "btn btn-link venueDetailsLink" }) |
                @Html.ActionLink("Delete", "DeleteVenue", "Login", new { id = item.id }, new { @class = "btn btn-link venueDeleteLink" })
            </td>
        </tr>
    }
</table>